<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Imogen Chappell</title>
  </head>
  <body>

    <h1>Imogen Chappell</h1>

 <nav>
     <a href="#one">One</a>
     <a href="#two">Two</a>
     <a href="#three">Three</a>
     <a href="https://www.linkedin.com/in/imogen-chappell-8232271ab/">LinkedIn</a>
   </nav>

   <body id="one">
    <h2>Favourite Foods</h2>
    <ul>
      <li>Apples</li>
      <li>Hummus</li>
      <li>Pomegranate</li>
      <li>Cheesecake</li>
      </ul>
   </body>

 <body id="two">
   <h2>Achievements</h2>
   <p>
   Progress in course (100%)<br>
   Progress in Specialisation capstone (20%)<br>
   Progress in life goals (45%)</p>
     </body>

 <body id="three">
   <h2>More About Me</h2>
   <details class="govuk-details" data-module="govuk-details">
     <summary class="govuk-details__summary">
       <span class="govuk-details__summary-text">
         My Childhood
       </span>
     </summary>
     <div class="govuk-details__text">
       I grew up in Cheltenham, then went to university in Reading and have recently moved to London.
     </div>
   </details>
         </body>
<br>
<footer class="primary-footer container group">
  <img src="http://www.intro-webdesign.com/images/newlogo.png" alt="WD4E"> This page was created by Imogen Chappell & Colleen van Lent. To learn more about web design, visit <a href="https://www.coursera.org/learn/html">Intro to Web Design.</a>
</footer>

</body>
</html>
